<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Maps</title>

    <!-- External JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <!-- BOOTSTRAP 4 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- FONT AWESOME ICONS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Limelight" rel="stylesheet">

    <!-- Additional CSS -->
    <style id="compiled-css" type="text/css">
      .masthead {
        height: 100vh;
        min-height: 500px;
        background-image: url('https://i.stack.imgur.com/RdkOb.jpg');
        background-size: cover;
        background-position: center;
      }

      .masthead-login {
        height: 100vh;
        min-height: 500px;
        background-image: url('https://nyoobserver.files.wordpress.com/2015/02/screen-shot-2015-02-06-at-3-27-06-pm.png');
        background-size: cover;
        background-position: center;
      }

      .masthead-register {
        height: 100vh;
        min-height: 500px;
        background-image: url('https://i.imgur.com/Jjdy08J.png');
        background-size: cover;
        background-position: center;
      }

      .jumbotron {
        background: #F2796A;
        padding: 1rem 2rem;
        min-width: 28rem;
        min-height: 15rem;
      }

      .btn {
        margin: .5em 0.2em 0 0;
      }

      .navbar{
        background-color: #F2796A;
      }

      .display-2 {
        color: #000000;
        font-family: 'Limelight', cursive;
      }

      .btn {
        background-color: #5a5353;
        border-color: #504a4a;
      }

      .logo {
        height: 100px;
      }

    </style>

    <!-- App JS -->
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="/">Movie Maps</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/maps">Explore Maps</a>
          </li>
          <% if (isLogged) { %>
          <li class="nav-item">
            <a class="nav-link" href="/maps/new">Create Map</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/<%= username %>">Profile</a>
          </li>
          <% } %>
          <li class="nav-item">
            <a class="nav-link" href="/users">Users</a>
          </li>
          <% if (!isLogged) { %>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
          <% } %>
        </ul>
        <% if (isLogged) { %>
        <form class="form-inline" action="/logout" method="POST">
          <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Logout"></button>
        </form>
        <% } %>
      </div>
    </nav>
