<% include ./partials/header %>

<div class="container">
    <p>hello world!!!</p>

    <section>
        <a href="/login">Login Page</a>
    </section>

    <section>
        <a href="/register">Register Page</a>
    </section>
</div>


<% include ./partials/footer %>
