<% include ./partials/header %>

<!-- Splash page header content with login & registration buttons -->
<header class="masthead">
    <div class="container h-100 d-flex justify-content-center">
        <div class="jumbotron my-auto">
            <h1 class="display-2">Movie Maps</h1>
            <img src="/img/clapper-map.png" class="logo">
            <p class="lead text-center" id="tag-line">Follow in the footsteps of the stars...</p>
            <div class="login-register"><a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
                <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>

            </div>
        </div>
    </div>
</header>


<% include ./partials/footer %>
