<% include ./partials/header %>

<!-- Splash page header content with login & registration buttons -->
<header class="masthead">
    <div class="container h-100 d-flex justify-content-center">
        <div class="jumbotron my-auto">
            <h1 class="display-2 text-center"><img src="/img/clapper-map.png" class="logo"><strong>MovieMaps</strong> </h1>
            <div class="text-center"><a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
                <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
                <p class="lead text-center"> Shrink links to fit more in your tweets & grow your audience</p>
                <p><em>`What a curious feeling!' said Alice; `I must be shutting up like a telescope.'</em></p>
            </div>
        </div>
    </div>
</header>

<!-- Page Content with a fun quote from Alice in Wonderland-->
<section class="py-5">
    <div class="container">
        <h2 class="font-weight-light">Send your Twitter followers down the right path...</h2>
        <br />
        <h5 class="font-weight-light">Make every character count: choose ShrinkMe for the ultimate link-shrinking
            experience.</h5>
        <br />
        <p>Would you tell me, please, which way I ought to go from here?
            “That depends a good deal on where you want to get to,” said the Cat.
            “I don’t much care where—” said Alice.
            “Then it doesn’t matter which way you go,” said the Cat.
            “—so long as I get somewhere,” Alice added as an explanation.
            “Oh, you’re sure to do that,” said the Cat, “if you only walk long enough.” <footer
                class="blockquote-footer">
                Chapter 6, <cite title="Source Title">Pig and Pepper</cite></footer>

    </div>
</section>


<% include ./partials/footer %>
