<% include ./partials/header %>

<section>
  <h3 class="mb-4">Log in</h3>

  <form action="/login" method="POST">
    <div class="form-group mb-2">
      <div class="my-2">
        <label for="email">Email:</label>
        <input class="form-control mt-0" type="email" name="email" required>
      </div>
      <div class="my-2">
        <label for="password" style="margin-left: 5px">Password:</label>
        <input class="form-control mt-0" type="password" name="password" required>
      </div>
      <button type="submit" class="btn btn-lg btn-primary">Submit</button>
    </div>
  </form>
</section>

<% include ./partials/footer %>
