<% include ./partials/header %>

<section>
  <h3 class="mb-4">Register</h3>
  <form action="/register" method="POST">
    <div class="form-group mb-2">
      <div class="my-2" style="display: flex;">
        <label for="username">Username:</label>
        <input class="form-control mt-0" type="text" id="username" name="username" style="width: 300px; margin: 1em" required>
      </div>
      <div class="my-2" style="display: flex;">
        <label for="email" style="margin-left: 42px">Email:</label>
        <input class="form-control mt-0" type="email" id="email" name="email" style="width: 300px; margin: 1em" required>
      </div>
      <div class="my-2" style="display: flex;">
        <label for="password" style="margin-left: 5px">Password:</label>
        <input class="form-control mt-0" type="password" id="password" name="password" style="width: 300px; margin: 1em" required>
      </div>
      <button type="submit" class="btn btn-lg btn-primary">Submit</button>
    </div>
  </form>
</section>

<% include ./partials/footer %>
