// Variables

$primaryRed: #F2796A;
$darkRed: #3d0300;
$lightGrey: #a3a3a3;
$darkGrey: #424242;

// ---------------- GENERAL STYLES ----------------- //

body {
  color: #000000;
  margin: 0;
  z-index:2;
  background-color: $lightGrey;

  .container {
    padding-top: 7em;
    height: 840px;
  }

  .btn:hover {
  background-color: $darkRed;
  border-color: $darkRed;
  color: #ffffff;
  }

  .btn {
    margin: .5em 0.2em 0 0;
    background-color: $darkGrey;
    border-color: $darkGrey;
    color: #ffffff;
  }

  .footer-text {
    text-align: center;
    font-size: 14px;
    padding-top: 5px;
    color: #d8d8d8;
  }

}


// ---------------- HOME / LOGIN / REGISTER / NEW MAP ----------------- //

// background
.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('/img/mapbkgrd.png');
  background-size: cover;
  background-position: center;
  z-index: -1;

  // feature box
  .jumbotron {
    background: $primaryRed;
    padding: 1rem 2rem;
    min-width: 22rem;
    min-height: 15rem;
    border-radius: 2rem;

    // Movie Maps brand text
    .display-2 {
      font-family: 'Limelight', cursive;
      display: inline-block;
      text-align: right;
      margin-bottom: -.4em;
      padding-right: .1em;
      margin-top: .3em;
      margin-left: .3em;

      @media screen and (max-width: 1200px) {
        text-align: center;
        margin: 0;
        font-size: 5em;
      }

    }

    .logo {
      height: 100px;
      line-height: 2em;
      margin-top: -4.7em;
      margin-right: 1em;

      @media screen and (max-width: 1200px) {
        display: none;
      }

    }

    #tag-line {
      margin-top: 1.5em;

      @media screen and (max-width: 1200px) {
        font-size: 1em;
      }

    }

    .login-register {
      margin-top: 1.3em;
      text-align: center;
      margin-bottom: 1.3em;
    }

  }

}

// ------------------------- NAVBAR ------------------------- //

.navbar{
  background-color: $primaryRed;
  font-size: 20px;
  position: fixed;
  width: auto;
  z-index: 4;
  right: 0px;
  left: 0px;

  .nav-logo {
    height: 50px;
    margin-right: 1em;
  }

  .navbar-nav {
  line-height: 1em;
  color: $darkGrey
  }

}








