// Variables

$primaryRed: #F2796A;
$darkRed: #3d0300;
$lightGrey: #a3a3a3;
$darkGrey: #424242;

// ---------------- GENERAL STYLES ----------------- //

body {
  color: #000000;
  margin: 0;
  z-index:2;
  background-color: $lightGrey;
}

.btn:hover {
  background-color: $darkRed;
  border-color: $darkRed;
  color: #ffffff;
}

.btn {
  margin: .5em 0.2em 0 0;
  background-color: $darkGrey;
  border-color: $darkGrey;
  color: #ffffff;
}

.container {
  padding-top: 7em;
  height: 840px;
}

// ---------------- HOME / LOGIN / REGISTER ----------------- //

// Home/Login/Register feature box
.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('/img/mapbkgrd.png');
  background-size: cover;
  background-position: center;
  z-index: -1;
}

// Home/Login/Register background
.jumbotron {
  background: $primaryRed;
  padding: 1rem 2rem;
  min-width: 22rem;
  min-height: 15rem;
  border-radius: 2rem;
}

// Movie Maps text
.display-2 {
  font-family: 'Limelight', cursive;
  display: inline-block;
  text-align: right;
  margin-bottom: -.4em;
  padding-right: .1em;
  margin-top: .3em;
  margin-left: .3em;
  @media screen and (max-width: 1200px) {
    text-align: center;
    margin: 0;
    font-size: 5em;
  }
}

.logo {
  height: 100px;
  line-height: 2em;
  margin-top: -4.7em;
  margin-right: 1em;
  @media screen and (max-width: 1200px) {
    display: none;
  }
}

#tag-line {
  margin-top: 1.5em;
    @media screen and (max-width: 1200px) {
    font-size: 1em;
  }
}

.login-register {
  margin-top: 1.3em;
  text-align: center;
  margin-bottom: 1.3em;
}

// ------------------------- NAVBAR ------------------------- //

.navbar{
  background-color: $primaryRed;
  font-size: 20px;
  position: fixed;
  width: auto;
  z-index: 4;
  right: 0px;
  left: 0px;
}

.nav-logo {
  height: 50px;
  margin-right: 1em;
}

.navbar-nav {
  line-height: 1em;
  color: $darkGrey
}

// ------------------------- MAP STYLING ------------------------- //

//map div
#map {
  height:100%;
  margin: auto;
}

.map-title{
  text-align: center;
}

#subnav {
  background-color: $darkGrey;
  color: white;
  font-size: 16px;
  z-index: 5;
}

.map-header {
  background-color: $darkGrey;
  color: white;
  padding: 4em 2em 1em 2em;
}

.update-map-container{
  background-color: $darkGrey;
  color: white;
  padding: 4em 2em 1em 1em;
  z-index: 4;
  position: absolute;
  width: 100%;
}

#map-edit-form {
  margin-top: 0.5em;
}

#map-edit-form label {
  margin: 0 1em 0 1em;
}

#map-edit-form button:hover {
  background-color: $darkRed;
}

#map-edit-form button{
  background-color: $lightGrey;
  margin: 0 0 0 1em;
}

.map-container {
  width: 100vw;
  height: 575px;
  position: relative !important;
  overflow: hidden !important;
  margin-top: 4em;
  z-index: 3;
}
.map-location-container {
  width: 25vw;
  min-width: 200px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: width 0.3s, max-height 0.3s;
}
.map-locations {
  background: $lightGrey;
  height: 100%;
}
.locations-header {
  background: $lightGrey;
  padding: 8px 16px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  width: 100%;
}

.locations-header div:hover {
  color: $darkRed;
}

.locations-header div {
  line-height: 24px;
  font-size: 16px;
  transition: width 0.3s;
  padding: 0 1em 0 0;
}

.location-list-container {
  overflow-y: auto;
  height: calc(100% - 40px);
  position: relative;
  left: 0px;
  transition: left 0.3s;
  z-index: 1;
  background: #fff;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
}
.location{
  position: relative;
  padding: 12px;
  background: #fff;
  cursor: pointer;
  box-sizing: border-box;
  transition: box-shadow 0.3s, background 0.3s;
  min-height: 94px;
  border-bottom: 1px solid $lightGrey;
}
.location:hover {
  box-shadow: inset 0 0 0 2px $primaryRed, 0 2px 6px rgba(0,0,0,0.1);
  z-index: 1;
  cursor: default;
}

.location-picture{
  position: relative;
  float: right;
  width: 70px;
  height: 70px;
  border-radius: 4px;
  overflow: hidden;
  margin-left: 12px;
  margin-bottom: 12px;
}

.location-picture img {
  width: 4.5em;
  height: 100%;
}

.location-info{
  margin: 8px 0 0 0;
  font-size: 12px;
  color: #000;
}
.location-name{
  font-weight: 700;
  font-size: 15px;
  margin-top: -7px;
  margin-bottom: 5px;
  color: $darkRed
}
.location-address{
  font-weight: 600;
}

.marker-maker {
  overflow-y: auto;
  height: calc(100% - 40px);
  position: relative;
  left: 0px;
  transition: left 0.3s;
  z-index: 3;
  background: #fff;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
}

.google-map-container {
  height: 100%;
  width: 75vw;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: rgb(229, 227, 223);
  z-index: 0;
  padding: 0px;
  border-width: 0px;
  margin: 0px;
  cursor: url(https://maps.gstatic.com/mapfiles/openhand_8_8.cur), default;
  touch-action: pan-x pan-y;
}

#fullsize {
  width: 100vw;
}

// ------------------------- MAP INDEX PAGE ------------------------- //

.map-index-message {
  font-size: 1.8em;
  font-weight: normal;
  line-height: 1.5;
  color: $darkGrey;
  margin-bottom: 3em;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
  background: transparent;
  text-align: center;
  font-style: normal;
}

.map-list {
  list-style: none;
  margin: 0 auto;
}

.map-object {
  position: relative;
  width: 220px;
  float: left;
  padding: 0;
  margin: 0 15px 30px 15px;
}

.map-boarder {
  position: relative;
  clear: left;
  background: #fff;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
}

.screenshot {
  height: 150px;
  width: 200px;
}

.map-shot {
  padding: 10px;
}

.map-img {
  max-width: 100%;
  height: 0;
  padding-bottom: 75%;
  overflow: hidden;
}

.map-link {
  color: $darkRed;
  text-decoration: none;
}

.map-name-link {
  color: $primaryRed;
  font-size: 0.9em;
  text-decoration: none;
}

.map-name-link:hover {
  color: $darkRed;
}

.tools {
  margin: 10px 0 0 0;
  text-align: left;
}

.fav {
  float: right;
  width: auto;
  margin: 0 0 0 11px;
  font-size: 11px;
  line-height: 1;
  color: $lightGrey;
}

// .fav-marked {
//   float: right;
//   width: auto;
//   margin: 0 0 0 11px;
//   font-size: 11px;
//   line-height: 1;
//   color: $lightGrey;
// }

.toggle-fav {
  background-image: url('/img/icon-hearts.png');
  background-size: 12px 45px;
  padding-left: 15px;
  background-repeat: no-repeat;
  background-position: 0 1px;
}


.map-creator {
  max-height: 16px;
  margin: 10px 0 0 0;
  padding: 0 0 0 10px;
  font-size: .8em;
  font-weight: 500;
  line-height: 1.4;
  color: $lightGrey;
  vertical-align: middle;
}

.creator-id {
  display: inline;
}

.user-profile-link:hover {
  font-weight: 500;
  color: $darkRed
}

.user-profile-link {
  font-weight: 500;
  color: $darkGrey;
}

a:hover {
  text-decoration: none;
}

.footer-text {
  text-align: center;
  font-size: 14px;
  padding-top: 5px;
  color: #d8d8d8;
}

.gm-style-iw {
    height: auto;
    width: 220px;
    padding: 5px;
}

.point-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 95%;
}

.gmnoprint {
  display: none;
}

.gm-fullscreen-control{
  display: none;
}