// Variables

$primaryRed: #F2796A;
$darkRed: #3d0300;
$lightGrey: #a3a3a3;
$darkGrey: #424242;

// ---------------- GENERAL STYLES ----------------- //

body {
  color: #000000;
  margin: 0;
  z-index:2;
  background-color: $lightGrey;
}

.btn:hover {
  background-color: $darkRed;
  border-color: $darkRed;
  color: #ffffff;
}

.btn {
  margin: .5em 0.2em 0 0;
  background-color: $darkGrey;
  border-color: $darkGrey;
  color: #ffffff;
}

.container {
  padding-top: 7em;
}

// ---------------- HOME / LOGIN / REGISTER ----------------- //

// Home/Login/Register feature box
.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('/img/mapbkgrd.png');
  background-size: cover;
  background-position: center;
  z-index: -1;
}

// Home/Login/Register background
.jumbotron {
  background: $primaryRed;
  padding: 1rem 2rem;
  min-width: 22rem;
  min-height: 15rem;
  border-radius: 2rem;
}

// Movie Maps text
.display-2 {
  font-family: 'Limelight', cursive;
  display: inline-block;
  text-align: right;
  margin-bottom: -.4em;
  padding-right: .1em;
  margin-top: .3em;
  margin-left: .3em;
  @media screen and (max-width: 1200px) {
    text-align: center;
    margin: 0;
    font-size: 5em;
  }
}

.logo {
  height: 100px;
  line-height: 2em;
  margin-top: -4.7em;
  margin-right: 1em;
  @media screen and (max-width: 1200px) {
    display: none;
  }
}

#tag-line {
  margin-top: 1.5em;
    @media screen and (max-width: 1200px) {
    font-size: 1em;
  }
}

.login-register {
  margin-top: 1.3em;
  text-align: center;
  margin-bottom: 1.3em;
}

// ------------------------- NAVBAR ------------------------- //

.navbar{
  background-color: $primaryRed;
  font-size: 20px;
  position: fixed;
  width: auto;
  z-index: 1;
  right: 0px;
  left: 0px;
}

.nav-logo {
  height: 50px;
  margin-right: 1em;
}

.navbar-nav {
  line-height: 1em;
  color: $darkGrey
}

// ------------------------- MAP STYLING ------------------------- //

//map div
#map {
  height:75vh;
  width:80vw;
  margin: auto;
}

.map-title{
  text-align: center;
}

.update-map {
  background-color: $darkGrey;
  color: white;
  padding: 5em 2em 2em 2em;
}

.update-map button{
  background-color: $lightGrey;
}

.update-map form {
  display: inline-flex;
}

.map-container {
  border: 1px solid black;
  width: 100%;
  height: 700px;
  position: relative !important;
  overflow: hidden !important;
  // -webkit-font-smoothing: antialiased;
  // animation: none;
  // animation-delay: 0;
  // animation-direction: normal;
  // animation-duration: 0;
  // animation-fill-mode: none;
  // animation-iteration-count: 1;
  // animation-name: none;
  // animation-play-state: running;
  // animation-timing-function: ease;
  // backface-visibility: visible;
  // background: 0;
  // background-attachment: scroll;
  // background-clip: border-box;
  // background-color: transparent;
  // background-image: none;
  // background-origin: padding-box;
  // background-position: 0 0;
  // background-position-x: 0;
  // background-position-y: 0;
  // background-repeat: repeat;
  // background-size: auto auto;
  // border: 0;
  // border-style: none;
  // border-width: medium;
  // border-color: inherit;
  // border-bottom: 0;
  // border-bottom-color: inherit;
  // border-bottom-left-radius: 0;
  // border-bottom-right-radius: 0;
  // border-bottom-style: none;
  // border-bottom-width: medium;
  // border-collapse: separate;
  // border-image: none;
  // border-left: 0;
  // border-left-color: inherit;
  // border-left-style: none;
  // border-left-width: medium;
  // border-radius: 0;
  // border-right: 0;
  // border-right-color: inherit;
  // border-right-style: none;
  // border-right-width: medium;
  // border-spacing: 0;
  // border-top: 0;
  // border-top-color: inherit;
  // border-top-left-radius: 0;
  // border-top-right-radius: 0;
  // border-top-style: none;
  // border-top-width: medium;
  // bottom: auto;
  // box-shadow: none;
  // box-sizing: content-box;
  // caption-side: top;
  // clear: none;
  // clip: auto;
  // color: inherit;
  // columns: auto;
  // column-count: auto;
  // column-fill: balance;
  // column-gap: normal;
  // column-rule: medium none currentColor;
  // column-rule-color: currentColor;
  // column-rule-style: none;
  // column-rule-width: none;
  // column-span: 1;
  // column-width: auto;
  // content: normal;
  // counter-increment: none;
  // counter-reset: none;
  // direction: ltr;
  // empty-cells: show;
  // float: none;
  // font: normal;
  // font-family: inherit;
  // font-size: medium;
  // font-style: normal;
  // font-variant: normal;
  // font-weight: normal;
  // height: auto;
  // hyphens: none;
  // left: auto;
  // letter-spacing: normal;
  // line-height: normal;
  // list-style: none;
  // list-style-image: none;
  // list-style-position: outside;
  // list-style-type: disc;
  // margin: 0;
  // margin-bottom: 0;
  // margin-left: 0;
  // margin-right: 0;
  // margin-top: 0;
  // opacity: 1;
  // orphans: 0;
  // outline: 0;
  // outline-color: invert;
  // outline-style: none;
  // outline-width: medium;
  // overflow: visible;
  // overflow-x: visible;
  // overflow-y: visible;
  // padding: 0;
  // padding-bottom: 0;
  // padding-left: 0;
  // padding-right: 0;
  // padding-top: 0;
  // page-break-after: auto;
  // page-break-before: auto;
  // page-break-inside: auto;
  // perspective: none;
  // perspective-origin: 50% 50%;
  // position: static;
  // quotes: '\201C' '\201D' '\2018' '\2019';
  // right: auto;
  // tab-size: 8;
  // table-layout: auto;
  // text-align: inherit;
  // text-align-last: auto;
  // text-decoration: none;
  // text-decoration-color: inherit;
  // text-decoration-line: none;
  // text-decoration-style: solid;
  // text-indent: 0;
  // text-shadow: none;
  // text-transform: none;
  // top: auto;
  // transform: none;
  // transform-style: flat;
  // transition: none;
  // transition-delay: 0s;
  // transition-duration: 0s;
  // transition-property: none;
  // transition-timing-function: ease;
  // unicode-bidi: normal;
  // vertical-align: baseline;
  // visibility: visible;
  // white-space: normal;
  // widows: 0;
  // width: auto;
  // word-spacing: normal;
  // z-index: auto;
}
.map-location-container {
  border: 1px solid black;
  width: 320px;
  max-width: 320px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: width 0.3s, max-height 0.3s;
}
.map-locations {
  background: $lightGrey;
  border: 1px solid black;
  height: 100%;
}
.locations-header {
  background: $lightGrey;
  border: 1px solid black;
  padding: 8px 16px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 2;
  box-sizing: border-box;
}
.location-list {
  border: 1px solid black;
  line-height: 24px;
  font-size: 16px;
  transition: width 0.3s;
}
.new-location {
  border: 1px solid black;
  line-height: 24px;
  font-size: 16px;
  transition: width 0.3s;
}

// ------------------------- MAP INDEX PAGE ------------------------- //

.map-index-message {
  font-size: 1.8em;
  font-weight: normal;
  line-height: 1.5;
  color: $darkGrey;
  margin-bottom: 3em;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
  background: transparent;
  text-align: center;
  font-style: normal;
}

.map-list {
  list-style: none;
  margin: 0 auto;
}

.map-object {
  position: relative;
  width: 220px;
  float: left;
  padding: 0;
  margin: 0 15px 30px 15px;
}

.map-boarder {
  position: relative;
  clear: left;
  background: #fff;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
}

.screenshot {
  height: 150px;
  width: 200px;
}

.map-shot {
  padding: 10px;
}

.map-img {
  max-width: 100%;
  height: 0;
  padding-bottom: 75%;
  overflow: hidden;
}

.map-link {
  color: $darkRed;
  text-decoration: none;
}

.map-name-link {
  color: $primaryRed;
  font-size: 0.9em;
  text-decoration: none;
}

.map-name-link:hover {
  color: $darkRed;
}

.tools {
  margin: 10px 0 0 0;
  text-align: left;
}

.fav {
  float: right;
  width: auto;
  margin: 0 0 0 11px;
  font-size: 11px;
  line-height: 1;
  color: $lightGrey;
}

// .fav-marked {
//   float: right;
//   width: auto;
//   margin: 0 0 0 11px;
//   font-size: 11px;
//   line-height: 1;
//   color: $lightGrey;
// }

.toggle-fav {
  background-image: url('/img/icon-hearts.png');
  background-size: 12px 45px;
  padding-left: 15px;
  background-repeat: no-repeat;
  background-position: 0 1px;
}


.map-creator {
  max-height: 16px;
  margin: 10px 0 0 0;
  padding: 0 0 0 10px;
  font-size: .8em;
  font-weight: 500;
  line-height: 1.4;
  color: $lightGrey;
  vertical-align: middle;
}

.creator-id {
  display: inline;
}

.user-profile-link:hover {
  font-weight: 500;
  color: $darkRed
}

.user-profile-link {
  font-weight: 500;
  color: $darkGrey;
}

a:hover {
  text-decoration: none;
}
