// Variables

$primaryRed: #F2796A;
$darkRed: #3d0300;
$lightGrey: #a3a3a3;
$darkGrey: #424242;

// Header & Subnav

.map-header {
  background-color: $darkGrey;
  color: white;
  margin-top: 8em;

  @media screen and (max-width: 1200px) {
    margin-top: 7.5em;
  }

  #subnav {
    background-color: $darkGrey;
    color: white;
    font-size: 16px;
    z-index: 5;
    top: 0;
    margin-top: 4em;
    padding-top: 0;
    padding-bottom: 0;

    .nav-item {
      margin: 0;
    }

    .navbar-brand h1 {
      font-size: 2rem;
      margin-bottom: 0;
      padding: .25em;

      @media screen and (max-width: 1200px) {
        font-size: 1em;
        padding: 0.75em
      }

    }

  }

}

// Update Map Dropdown

.update-map-container{
  background-color: #424242;
  color: white;
  padding: 0em 0em .5em 0em;
  z-index: 4;
  position: absolute;
  width: 100%;

  @media screen and (max-width: 1090px) {
    margin-top: 7em;
  }

  #map-edit-form {
    margin-top: 0.5em;

    @media screen and (max-width: 1090px) {
      padding: 1em;
    }


    label {
      margin: 0 1em 0 1em;

      @media screen and (max-width: 1090px) {
        padding-bottom: 0.5em;
        padding-top: 0.5em;
        margin: 0;
      }

    }

    button:hover {
      background-color: $darkRed;
    }

    button{
      background-color: $lightGrey;
      margin: 0 0 0 1em;

      @media screen and (max-width: 1090px) {
        margin: 1em 0;
      }

    }

  }

}

// Map Display

.map-container {
  width: 100vw;
  height: 77vh;
  position: relative;
  overflow: hidden;
  z-index: 3;

  // Locations Display

  .map-location-container {
    width: 25vw;
    min-width: 200px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

    .map-locations {
      background: $lightGrey;
      height: 100%;

      // Locations Titles

      .locations-header {
        background: $lightGrey;
        padding: 8px 16px;
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        z-index: 2;
        box-sizing: border-box;
        width: 100%;

        div:hover {
          color: $darkRed;
        }

        div {
          line-height: 24px;
          font-size: 16px;
          transition: width 0.3s;
          padding: 0 1em 0 0;
        }

      }

      // Locations List

      .location-list-container {
        overflow-y: auto;
        height: calc(100% - 40px);
        position: relative;
        left: 0px;
        transition: left 0.3s;
        z-index: 1;
        background: #fff;
        box-shadow: 1px 1px 4px rgba(0,0,0,0.3);

        .location:hover {
          box-shadow: inset 0 0 0 2px $primaryRed, 0 2px 6px rgba(0,0,0,0.1);
          z-index: 1;
          cursor: default;
        }
        .location {
          position: relative;
          padding: 12px;
          background: #fff;
          cursor: pointer;
          box-sizing: border-box;
          transition: box-shadow 0.3s, background 0.3s;
          min-height: 94px;
          border-bottom: 1px solid $lightGrey;

          .location-picture {
            position: relative;
            float: right;
            width: 70px;
            height: 70px;
            border-radius: 4px;
            overflow: hidden;
            margin-left: 12px;
            margin-bottom: 12px;

            img {
              width: 4.5em;
              height: 100%;
              object-fit: cover;
            }

          }

          .location-info {
            margin: 8px 0 0 0;
            font-size: 12px;
            color: #000;

            .location-name {
              font-weight: 700;
              font-size: 15px;
              margin-top: -7px;
              margin-bottom: 5px;
              color: $darkRed
            }
            .location-address {
              font-weight: 600;
            }

            .location-buttons {
              margin-top: 1em;
            }

          }

        }

      }

      // New Location Form

      .marker-maker {
        overflow-y: auto;
        height: calc(100% - 40px);
        position: relative;
        left: 0px;
        transition: left 0.3s;
        z-index: 3;
        background: #fff;
        box-shadow: 1px 1px 4px rgba(0,0,0,0.3);

        #markerMaker {
          display: flex;
          justify-content: center;

          div.form-group {
            width: 100%;
            padding: 0em 1em;

            label, input {
              width: 100%;
            }

          }

        }

      }

    }

  }

  // Google Map

  #fullsize {
    width: 100vw;
  }

  .google-map-container {
    height: 100%;
    width: 75vw;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgb(229, 227, 223);
    z-index: 0;
    padding: 0px;
    border-width: 0px;
    margin: 0px;
    cursor: url(https://maps.gstatic.com/mapfiles/openhand_8_8.cur), default;
    touch-action: pan-x pan-y;

    // Map
    #map {
      height:100%;
      margin: auto;

      // Map features turned off
      .gmnoprint {
        display: none;
      }

      .gm-fullscreen-control{
        display: none;
      }

    }

    .gm-style-iw, .gm-style-iw-c {
      border: 1px solid $lightGrey;
      max-width: 250px;

      .gm-style-iw-d {
        max-width: 250px;
        max-height: 486px;

        .point-image {
          width: 250px;
          object-fit: cover;
        }

        h3 {
          font-family: 'Open Sans Condensed', sans-serif;
          font-size: 1.2em;
          font-weight: 400;
          padding: 10px;
          background-color: #F2796A;
          color: #000;
          margin: 0;
          text-align: center;
          border-radius: 2px 2px 0 0;
          overflow:hidden;
          text-overflow: ellipsis;
          max-width: 250px;
        }

        p {
          font-size: 1em;
          font-weight: 200;
          padding: 5px 0;
          max-width: 250px;
        }

      }

    }

  }

}

